body
{
    background-color: yellow;
    background-image : url("images/back.png");
    background-size: cover;
    background-repeat: no-repeat;
}


img.watermark{
    text-align: center;
    width: 100%;
}
h1
{
background-color: lightblue;
font-size: 50px;
color: Black;
}

h2{
    background-color: lightblue;
    
}

p{
    font-family: 'Times New Roman', Times, serif;
    font-size: 30px;
}


ul{
    list-style-type: none;
    width: 110px;
    margin: 10px;
    padding: 0;
    border: 1px solid black;
    text-align: left;
}

li {
    text-align: center;
    border-bottom: 1px solid black;
}

li:last-child {
    border-bottom: none;
}



li a.active {
    background-color: cadetblue;
    color: white;
}

li a:hover {
    background-color: blue;
    color: white;
}



li a {
    display: block;
    font-size: 30px;
    border-block-end: 10px;
    padding: 8px 16px;
    text-decoration: none;
}
    
  
   

    
    

